moc*
*.o
ui_*
pc/pc
build/*
simulation/test/simtest
simulation/doc/**
*.kdev4*
*.user*
*Makefile
*.cmake
*~
*build-debug/*
openglqt/test/SkeletalSystem/SkeletalSystem
pc/Makefile
**/build/*
simulation/test/simtest
*.build
*.out
*.user
